<%= form_for [@pool, @square], :html => { :class => "form-horizontal square" } do |f| %>

    <% if @square.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@square.errors.count, "error") %> prohibited this square from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @square.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :x, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :x, :class => 'form-control' %>
    </div>
    <%= error_span(@square[:x]) %>
  </div>
  <div class="control-group">
    <%= f.label :y, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :y, :class => 'form-control' %>
    </div>
    <%= error_span(@square[:y]) %>
  </div>
  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :user_id, :class => 'form-control' %>
    </div>
    <%= error_span(@square[:user_id]) %>
  </div>



  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            pool_squares_path(@pool), :class => 'btn btn-default' %>

<% end %>
