<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Ducking Nemesis" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Ducking Nemesis" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= nav_bar :fixed => :top, :brand => "Ducking Nemesis", :responsive => true do %>
        <%= menu_group do %>
            <%= menu_item "Users", users_path %>
            <%= menu_item "Pools", pools_path %>
        <% end %>
    <% end %>
    <header>
    </header>
    <main role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= yield %>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div>
    </main>
  </body>
</html>
